// colors
$color_blue: #264355;
$color_beige: #EBDFBE;
$color_white: #FFFFFF;
$color_gray: #ebebeb;
$color_black: #000000;
$error-color: #cd0000;
$success-color: #00a652;

// fonts-family
$font_josefin: 'Josefin Sans';
$font_poppins: 'Poppins';

// font-size
$font_h1: 60px;
$font_h2: 35px;
$font_linkFooter: 25px;
$font_h3: 30px;
$font_p: 20px;
